<div>
    <h1>Manage Home Page</h1>
    <input type="text" name="headline" value="<%= homePage.headline %>" />
    <textarea name="context" ><%= homePage.context %></textarea>
    <button type="submit">Save</button>
</div>