<div>
    <h1>Log In Admin Panel</h1>
    <form>
        <input type="text" name="username" placeholder="Enter your username" /> <br />
        <input type="password" name="password" placeholder="Enter your password" /><br />
        <button type="submit" >Log In</button>
    </form>
</div>