<div>
    <h1>Contact Me</h1>
    You can contact me by using address below, or sending email via contact form
    <div>
        <form action="/contact" method="POST" >
            <input type="text" name="name" placeholder="Enter your name" /> <br />
            <input type="text" name="subject" placeholder="Enter a subject" /> <br />
            <input type="email" name="email" placeholder="Enter your email" />
            <textarea name="message" >Enter your message</textarea> <br />
            <button type="submit" >Send E-mail</button>
        </form>
    </div>
</div>>