<div>
    <h1>Projects</h1>
    You can take a look at my other projects
<% if (portfolios.length) { %>
    <% for (let portfolio of portfolios) { %>
        <div>
            <h1><%= portfolio.name %></h1>
            <%= portfolio.description %> <br />
<% if (portfolio.link) { %>
    <a href="<%= portfolio.link %>">Visit <%= portfolio.name %>></a>
<% } %>
        </div>
    <% } %>
<% } else { %>
    <div role="alert" >Not Found Anything</div>
    <% } %>
</div>