<div>
    <h1><%= servicePage.headline %></h1>
<%= servicePage.context %>
    <% if (services.length) { %>
        <% for (let service of services) { %>
            <div>
                <h3><%= service.service %></h3>
                <%= service.description %>
            </div>
        <% } %>
    <% } else { %>
        <div role="alert" >Not Found Any Service</div>
        <% } %>
</div>