<div>
<ul>
<% if (adminIn) { %>
    <li><a role="button" href="/admin/settings">Settings</a></li>
    <li><a role="button" href="/Home">Home</a></li>
    <li><a role="button" href="/portfolio">Portfolio</a></li>
    <li><a role="button" href="/Services">services</a></li>
    <li><a role="button" href="/contact">Contact</a></li>
    <li><a role="button" href="/about">About</a></li>
<% } else { %>
    <li><a role="button" href="/home">Go to home page</a></li>
    <% } %>
</ul>
</div>