<div>
<ul>    <li><a role="button" href="/admin/settings">Settings</a></li>
    <li><a role="button" href="/admin/home">Home</a></li>
    <li><a role="button" href="/admin/portfolio">Portfolio</a></li>
    <li><a role="button" href="/admin/services">services</a></li>
    <li><a role="button" href="/admin/contact">Contact</a></li>
    <li><a role="button" href="/admin/about">About</a></li>
    <li><a role="button" href="/home">Go to home page</a></li>
</ul>
</div>